<main class="bg-form-carcinogenic-agents">
    <form class="form-carcinogenic-agents" [formGroup]="carcinogenicAgentForm" (ngSubmit)="onSubmit()">
        <app-form-section [title]="'Sustacias cancerígenas'">
            <div class="form-section-content top-form" container-inputs>
                <div class="form-field">
                    <app-form-select-field 
                        [labelText]="'Sector y puesto afectado'"
                        [info]="'Seleccionar el sector y puesto afectado por la sustancia cancerigena.'"
                        [options]="jobPositionOptions()"
                        [placeholder]="'Seleccionar sector-puesto'"
                        [prefix]="'job_position_relation'" 
                        [form]="carcinogenicAgentForm"
                    />
                </div>
                <app-select-search 
                    [labelText]="'Sustancia cancerígena'"
                    [info]="'Seleccionar substancia cancerígena encontrada en el sector y puesto indicado.'"
                    [options]="this.carcinogenicAgentsStore.substanceCodes"
                    [placeholder]="'Seleccionar sustancia'"
                    [prefix]="'substance_id'"
                    [form]="carcinogenicAgentForm"
                />
                <app-form-field 
                    [labelText]="'Nombre comercial'"
                    [info]="'Nombre comercial del agente.'"
                    [placeholder]="'Compuestos de Cromo VII'"
                    [prefix]="'substance_name'"
                    [form]="carcinogenicAgentForm"
                />
            </div>
            <div class="form-section-content top-form" container-inputs>
                <div class="form-field">
                    <app-form-select-field 
                        [labelText]="'Uso / Origen'"
                        [info]="'.'"
                        [options]="this.carcinogenicAgentsStore.substanceOriginCodes" 
                        [placeholder]="'Seleccionar uso/origen'"
                        [prefix]="'usage_origin_type'"
                        [form]="carcinogenicAgentForm"
                    />
                </div>
                @if (showUsageOriginOthersField()) {
                    <div class="form-field">
                        <app-form-field 
                            [labelText]="'Especificar uso/origen'"
                            [info]="'Detallar el uso u origen de la sustancia.'"
                            [placeholder]="'Especificar'"
                            [prefix]="'usage_origin_others'"
                            [form]="carcinogenicAgentForm"
                        />
                    </div>
                }
                <div class="form-field">
                    <app-form-select-field 
                        [labelText]="'Modo de empleo'"
                        [info]="'Modo en el que se emplea la sustancia.'"
                        [options]="this.carcinogenicAgentsStore.employmentModeCodes" 
                        [placeholder]="'Seleccionar modo de empleo'"
                        [prefix]="'application_method'"
                        [form]="carcinogenicAgentForm"
                    />
                </div>
                @if (showApplicationMethodOthersField()) {
                    <div class="form-field">
                        <app-form-field 
                            [labelText]="'Especificar modo de empleo'"
                            [info]="'Detallar el modo de empleo de la sustancia.'"
                            [placeholder]="'Especificar'"
                            [prefix]="'application_method_others'"
                            [form]="carcinogenicAgentForm"
                        />
                    </div>
                }
                <div class="form-field">
                    <app-form-field 
                        [labelText]="'Cantidad de sustancia anual'"
                        [info]="'Cantidad de producto utilizado anualmente.'"
                        [type]="'number'"
                        [prefix]="'annual_quantity'"
                        [placeholder]="'100'"
                        [form]="carcinogenicAgentForm"
                    />
                </div>
                <div class="form-field">
                    <app-form-select-field 
                        [labelText]="'Tipo de unidad de medida'"
                        [info]="'Unidad de medida de la cantidad de producto utilizado.'"
                        [options]="this.carcinogenicAgentsStore.unitsOfQuantity"
                        [placeholder]="'Seleccionar unidad de medida'"
                        [prefix]="'measurament_unit'"
                        [form]="carcinogenicAgentForm"
                    />
                </div>
                <div class="form-field">
                    <app-form-select-field 
                        [labelText]="'Elementos de protección'"
                        [info]="'Indicar si se le provee elementos de protección al personal de acuerdo al puesto afectado.'"
                        [options]="this.carcinogenicAgentsStore.protectionElements"
                        [placeholder]="'Seleccionar elemento de protección'"
                        [prefix]="'protection_element'"
                        [form]="carcinogenicAgentForm"
                    />
                </div>
                <div class="form-field">
                    <app-select-search 
                        [labelText]="'Medida preventiva'"
                        [info]="'Seleccionar la medida preventiva a la sustancia en el sector y puesto.'"
                        [options]="this.carcinogenicAgentsStore.preventiveMeasures"
                        [placeholder]="'Seleccionar medida preventiva'"
                        [prefix]="'preventive_measure'"
                        [form]="carcinogenicAgentForm"
                    />
                </div>
            </div>
            <div class="form-questions" container-inputs>
                <label for="" class="subtitle">Gestión del riesgo</label>
                <div class="container-question">
                    <p>¿Se capacita al trabajador sobre los riesgos que implica para su salud la sustancia utilizada?</p>
                    <div class="boolean-indicator">
                        <app-boolean-indicator [form]="carcinogenicAgentForm" [prefix]="'risk_training'" />
                    </div>
                </div>
                <div class="container-question">
                    <p class="">¿Se suministra información sobre los riesgos que implican a su salud el trabajar con la sustancia?</p>
                    <div class="boolean-indicator">
                        <app-boolean-indicator  [form]="carcinogenicAgentForm" [prefix]="'risk_informed'" />
                    </div>
                </div>
                <div class="container-question">
                    <p>¿Se realizan estudios en busca del reemplazo de la sustancia?</p>
                    <div class="boolean-indicator">
                        <app-boolean-indicator [form]="carcinogenicAgentForm" [prefix]="'replacement_studies_analysis'" />
                    </div>
                </div>
                @if( replacementStudiesAnalysis ){
                    <div class="form-field">
                        <app-form-field 
                            [labelText]="'Información sobre los estudios realizados'"
                            [info]="'Descripción en caso de que se esté realizando un estudio sobre el posible reemplazo de la sustancia.'"
                            [form]="carcinogenicAgentForm"
                            [prefix]="'replacement_studies_analysis_desc'"
                            [placeholder]="'Descripción adicional'"
                        />
                    </div>
                }
                <div class="form-box-actions">
                    <app-btn-basic [label]="this.carcinogenicAgentsStore.selectedSubstance()  === null ? 'Agregar a la lista' : 'Guardar cambios'"
                        [variant]="'success'" (clicked)="addSubstance()" [type]="'button'" />
                    @if (this.carcinogenicAgentsStore.selectedSubstance() !== null) {
                        <app-btn-basic [label]="'Cancelar edición'" [variant]="'secondary'" [type]="'button'"
                            (clicked)="reset()" />
                    }
                </div>
            </div>
            <div container-inputs>
                <app-add-button
                    [text]="'Añadir nueva sustancia cancerígena'"
                    (clicked)="addSubstance()"
                />
                <app-actionable-list
                    [arraySignal]="substanceListItems()"
                    [selectedItem]="selectedSubstanceItem()"
                    [placeholder]="'Todavía no agregaste ninguna sustancia.'"
                    (removeItem)="this.onRemoveSubstance($event.id)"
                    (visualizeItem)="this.onSelectSubstance($event.id)"
                />
            </div>
            <app-add-button (clicked)="this.addSubstance()" [text]="'Añadir sustancia'" />
        </app-form-section>
        <app-form-navigation-btns
            (remove)="onClearForm()"
            [nextLabel]="submitLabel"
            [nextDisabled]="submitState() !== 'idle'"
            (save)="onSaveForm()"
            (next)="onSubmit()"
        />
    </form>
</main>