<div class="form-header">
    <h1>{{ titleForm }}</h1>
    <div class="pages-navigator">
        <div class="progress-bar">
            @for( item of navigationItems; track item.href){
                <div class="item-container"
                        routerLinkActive="active-link"
                        [class.completed-step]="item.completed" 
                        [routerLink]="[item.href]">
                        <svg width="54px" height="54px" viewBox="0 0 15 15" version="1.1" id="circle-stroked" xmlns="http://www.w3.org/2000/svg" fill="#e0e0e0" stroke="#e0e0e0" stroke-width="0.00015000000000000001"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path id="path8564-5-6-4" d="M7.5,0C11.6422,0,15,3.3578,15,7.5S11.6422,15,7.5,15
                            S0,11.6422,0,7.5S3.3578,0,7.5,0z M7.5,1.6666c-3.2217,0-5.8333,2.6117-5.8333,5.8334S4.2783,13.3334,7.5,13.3334
                            s5.8333-2.6117,5.8333-5.8334S10.7217,1.6666,7.5,1.6666z"></path> </g>
                        </svg>
                    <p>{{ item.label.toUpperCase() }}</p>
                </div>
            }
        </div>
	</div>
</div>