@use '@variables' as v;

.form-box-label {
  font-size: 0.75rem;
  font-weight: 500;
  color: v.$black-custom-light;
  margin: 0 1rem 1rem;
  text-transform: uppercase;
  letter-spacing: 0.04em;
}

.form-box-actions {
    display: flex;
    gap: 0.75rem;
    justify-content: flex-end;
    margin: 1rem;
}

.list-label {
    font-size: 0.75rem;
    font-weight: 500;
    color: v.$black-custom-light;
    margin: 0.5rem 0 0.625rem;
    text-transform: uppercase;
    letter-spacing: 0.04em;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid v.$black-custom-light;
    background-color: v.$black-custom;
    border-radius: 8px;
    padding: 0.5rem 0.75rem;
    gap: 0.625rem;
    transition: all 0.2s ease;
    margin: 1rem;
}

.row.selected {
    border-color: v.$accent-color;
    background-color: v.$black-custom;
}

.row-left {
    display: flex;
    align-items: center;
    gap: 0.625rem;
    min-width: 0;
    flex: 1;
}

.row-num {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: v.$white-custom;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.6875rem;
    font-weight: 500;
    flex-shrink: 0;
    color: v.$black-custom-light;
}

.row-title {
    font-size: 1rem;
    color: v.$white-custom;
    white-space: nowrap;
    overflow: hidden;
}

.row-title p {
    margin: 0;
    max-width: 70rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.row-title .sep {
    color: v.$white-custom;
    margin: 0 6px;
}

.row-title-empty {
    color: v.$black-custom-light;
    font-style: italic;
}

.tag-edit {
    display: flex;
    align-items: center;
    font-size: 0.725rem;
    max-height: 1rem;
    margin: auto;
    background-color: v.$accent-color;
    color: v.$white-custom-light;
    padding: 1px 7px;
    border-radius: 999px;
    margin-left: 8px;
    flex-shrink: 0;
}

.row-actions {
    display: flex;
    gap: 4px;
    flex-shrink: 0;
}

.icon-btn {
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.icon-btn:hover{
    transform: translateY(-2px);
}

.icon-btn.eye:hover {
    color: v.$accent-color;
    filter: drop-shadow(0px 5px 5px rgba(108, 2, 201 , 0.7));
}

.icon-btn.trash:hover {
    filter: drop-shadow(0px 5px 5px rgba(197, 0, 0, 0.7));
}

.empty-state {
    font-size: 0.8125rem;
    color: v.$black-custom-light;
    text-align: center;
    padding: 1rem 0;
}