@use '@variables' as v;

.container-filter-select{
    display: flex;
    height: 2rem;
    z-index: 1;
    padding-inline: 0.75rem;    
    flex-direction: column;
    position: relative;
    border: 2px solid v.$black-custom;
    background-color: v.$white-custom;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.25);
    border-radius: 10px;
    letter-spacing: 1px;
    font-family: v.$font-family;
    color: v.$black-custom;
}

.container-select{
    display: flex;
    margin: auto 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-filter-select:hover {
    border: 2px solid v.$accent-color;

    & .container-options {
        visibility: visible;
        opacity: 1;
        pointer-events: auto;
    }
}

.container-filter-select:hover{
    & .down-icon{
        fill: v.$accent-color;
        transform: rotate(90deg);
        transition: all 0.2s ease;    
    }
}

.option-default {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}

.option-default-selected {
  display: flex;
  flex: 1;
  height: 100%;
  align-items: center;
}

.container-down-icon {
  width: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.down-icon {
  display: flex;
  width: 100%;
  height: 100%;
  transform: rotate(-90deg);
  transition: all 0.5s ease;
}

.container-options {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    margin-top: 0.5rem;
    transition:
        opacity 0.2s ease 0.4s,      // espera 0.4s, LUEGO anima 0.5s hacia opacity:0
        visibility 0.2s ease 0.4s;   // mismo delay para visibility
    overflow: hidden;
    border-radius: 0.5rem;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.7);
}

.options {
    display: flex;
    text-align: center;
    appearance: none;
    list-style: none;
    margin: 0; /* 3. Eliminamos el margen de aquí para quitar el hueco de arriba */
    padding: 0;
    flex-direction: column;

    /* --- CONTROL DEL SCROLL --- */
    max-height: 150px;       
    overflow-y: auto;
    scrollbar-width: thin; // Firefox
    scrollbar-color: v.$accent-color v.$black-custom;

}

.option-filter{
    border: none;
    height: 25%;
    z-index: 1000;
    padding: 3% 4%;
    color: v.$white-custom;
    background-color: v.$black-custom;
}

.option-filter:hover{
    background-color: v.$accent-color; 
    cursor: pointer;
}