<div class="form-job-position">
    <div class="form-section-content middle-form" container-inputs>
        <app-form-field [labelText]="'Nombre del sector'" [info]="'Nombre del sector expuesto a un agente cancerigeno.'"
            [type]="'text'" [prefix]="'sector_name'" [placeholder]="'Producción'" [form]="form" 
        />
        <div>
            <app-select-search [labelText]="'Actividad del sector'"
                [info]="'Actividad relacionada al sector declarado.'" [options]="sectorActivityCodes"
                [prefix]="'sector_activity_code'" [placeholder]="'Seleccionar actividad'" [form]="form" />
        </div>
    </div>
    <div class="form-section-content middle-form" container-inputs>
        <app-form-field [labelText]="'Nombre del Puesto'" [info]="'Nombre del puesto expuesto a un agente cancerigeno.'"
            [prefix]="'job_position'" [placeholder]="'Operador de linea de montaje'" [form]="form" />
        <div class="form-field">
            <app-select-search [labelText]="'Actividad del puesto'"
                [info]="'Actividad relacionada al puesto declarado.'" [options]="jobActivityCodes"
                [prefix]="'job_activity_code'" [placeholder]="'Seleccionar actividad'" [form]="form" />
        </div>
        <app-form-field [labelText]="'Descripción de actividad'"
            [info]="'Descripción de la actividad del puesto en caso de que se lo necesite.'"
            [prefix]="'job_activity_additional_description'" [placeholder]="'Ensamblaje de modulos electronicos'"
            [form]="form" />
    </div>
</div>