@use '@variables' as v;

.bg-form-cancerigenos{
    display: flex;
    flex-direction: column;
    width: 100%;
    flex: 1;
    justify-content: center;
    align-items: center;
    font-family: v.$font-family;
    background-color: v.$white-custom;
    padding: 2rem 0;
}

.form-container{
    display: block;
    width: 85%;
    padding: 2.5rem 0;
}
