<div class="bg-home">
    <div class="carousel-container">
        <app-carousel/>
    </div>
    <section class="info-container">
        <div class="card-info card-green-dark">
            <p class="text-info">Tranquilidad para tu empresa.</p>
            <button class="btn-action green-light">Cotizá</button>
        </div>
        <div class="card-info card-green-light">
            <p class="text-info">¿Qué hago en caso de accidente?</p>
            <button class="btn-action green-dark">Pasos a seguir</button>
            <p class="small-text-info">Descargá las indicaciones.</p>
        </div>
        <div class="card-info card-accent">
            <div class="info">
                <p class="text-info-border">Emergencias 0800 888 6060</p>
                <p class="text-info-border">Consultas 0800 555 0278</p>
                <p class="text-info-border">atencionalcliente&#64;serenaseguros.com.ar</p>
            </div>
        </div>
    </section>
</div>
