<div class="form-container">
    <app-form-field [labelText]="'Nombre ' + extraLabel " [info]="'Nombre ' + extraInfo +'.'" [type]="'text'"
        [placeholder]="'Jane'" [prefix]="'name_'+prefix_fields" [form]="form" />

    <app-form-field [labelText]="'Apellido ' + extraLabel " [info]="'Apellido ' + extraInfo + '.'" [type]="'text'"
        [placeholder]="'Doe'" [prefix]="'last_name_'+prefix_fields" [form]="form" />

    <app-form-field [labelText]="'CUIT/CUIL ' + extraLabel " [info]="'Número de CUIL/CUIT  ' + extraInfo +'.'"
        [type]="'text'" [placeholder]="'20455299327'" [prefix]="'cuit_'+prefix_fields" [form]="form" />
</div>