<main class="footer-container">
    <footer>
        <div class="footer-content">
            <div class="footer-column">
                <h1>Emergencias</h1>
                <p>0800 888 6060</p>
                <h1>Atención al cliente</h1>
                <p>0800 555 0278</p>
                <h1>Consultas/Reclamos/Pedidos/Estados contables anuales</h1>
            </div>
            <div class="footer-column">
            </div>
            <div class="footer-column">
                <h1>Línea Gratuita SRT</h1>
                <p>0800 666 6778</p>
                <h1>Organismo de Control ART</h1>
                <p>http://www.argentina.gob.ar/srt</p>
            </div>
            <div class="footer-column">
                <h1>Cód. de ART: 0862</h1>
                <p>N°de inscripción SSN: 0862</p>
            </div>
        </div>
        <div class="brand-content">
            <div class="brand-container">
                <img src="../../../../assets/logos/serena-logo-alternativo.png" alt="Serena logo alternativo">
            </div>
            <div class="brand-container">
                <img src="../../../../assets/logos/lapachos-logo.png" alt="Serena logo alternativo">
            </div>
            <div class="brand-container">
                <img src="../../../../assets/logos/srt-logo.png" alt="Serena logo alternativo">
            </div>
            <div class="brand-container">
                <img src="../../../../assets/logos/srt-nacion-logo.png" alt="Serena logo alternativo">
            </div>
        </div>

        <div class="copyright">
            <div class="social-icons">
                <div class="social-btn">
                    <svg fill="#FFFFFF" version="1.1" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink" width="32px" height="32px" viewBox="0 0 512 512"
                        xml:space="preserve" stroke="#FFFFFF">
                        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                        <g id="SVGRepo_iconCarrier">
                            <g id="7935ec95c421cee6d86eb22ecd125aef">
                                <path style="display: inline; fill-rule: evenodd; clip-rule: evenodd;"
                                    d="M116.504,500.219V170.654H6.975v329.564H116.504 L116.504,500.219z M61.751,125.674c38.183,0,61.968-25.328,61.968-56.953c-0.722-32.328-23.785-56.941-61.252-56.941 C24.994,11.781,0.5,36.394,0.5,68.722c0,31.625,23.772,56.953,60.53,56.953H61.751L61.751,125.674z M177.124,500.219 c0,0,1.437-298.643,0-329.564H286.67v47.794h-0.727c14.404-22.49,40.354-55.533,99.44-55.533 c72.085,0,126.116,47.103,126.116,148.333v188.971H401.971V323.912c0-44.301-15.848-74.531-55.497-74.531 c-30.254,0-48.284,20.38-56.202,40.08c-2.897,7.012-3.602,16.861-3.602,26.711v184.047H177.124L177.124,500.219z">
                                </path>
                            </g>
                        </g>
                    </svg>
                </div>
                <div class="social-btn">
                    <svg fill="#FFFFFF" width="32px" height="32px" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"
                        stroke="#FFFFFF">
                        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                        <g id="SVGRepo_iconCarrier">
                            <path
                                d="M20.445 5h-8.891A6.559 6.559 0 0 0 5 11.554v8.891A6.559 6.559 0 0 0 11.554 27h8.891a6.56 6.56 0 0 0 6.554-6.555v-8.891A6.557 6.557 0 0 0 20.445 5zm4.342 15.445a4.343 4.343 0 0 1-4.342 4.342h-8.891a4.341 4.341 0 0 1-4.341-4.342v-8.891a4.34 4.34 0 0 1 4.341-4.341h8.891a4.342 4.342 0 0 1 4.341 4.341l.001 8.891z">
                            </path>
                            <path
                                d="M16 10.312c-3.138 0-5.688 2.551-5.688 5.688s2.551 5.688 5.688 5.688 5.688-2.551 5.688-5.688-2.55-5.688-5.688-5.688zm0 9.163a3.475 3.475 0 1 1-.001-6.95 3.475 3.475 0 0 1 .001 6.95zM21.7 8.991a1.363 1.363 0 1 1-1.364 1.364c0-.752.51-1.364 1.364-1.364z">
                            </path>
                        </g>
                    </svg>
                </div>
                <div class="social-btn">
                    <svg fill="#FFFFFF" width="32px" height="32px" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"
                        stroke="#FFFFFF">
                        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                        <g id="SVGRepo_iconCarrier">
                            <path
                                d="M21.95 5.005l-3.306-.004c-3.206 0-5.277 2.124-5.277 5.415v2.495H10.05v4.515h3.317l-.004 9.575h4.641l.004-9.575h3.806l-.003-4.514h-3.803v-2.117c0-1.018.241-1.533 1.566-1.533l2.366-.001.01-4.256z">
                            </path>
                        </g>
                    </svg>
                </div>
            </div>
            <div class="copyright-content">
                <p>SERENA ASEGURADORA DE RIESGOS DEL TRABAJO S.A.U.</p>
                <p>&copy; 2026 Todos los derechos reservados <span>Política de confidecialidad</span></p>
            </div>
            <p></p>
        </div>
    </footer>
</main>
