/* You can add global styles to this file, and also import other style files */
$white-custom-light: #FFFFFF;
$white-custom: #F6F6F6;
$white-custom-dark: #E0E0E0;

$black-custom-light: #333333;
$black-custom: #222222;

$primary-color-light: #1ED6BB;
$primary-color: #00A589;
    
// $secondary-color-light: ;
$secondary-color-light: #D5E038;
$secondary-color: #00493B;

// $accent-color-light: ;
$accent-color: #6c02c9;
$accent-color-dark: #460084;

$red-custom: #c50000;

$font-family: Finlandica, Arial, sans-serif;