@use '@variables' as v;

.form-field{
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
}

.reserved-space{
    min-height: 1rem;
}

.input{
    display: flex;
    height: 2rem;
    border: 2px solid v.$black-custom-light;
    padding-inline: 0.75rem;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.25);
    outline: none;
    font-family: v.$font-family;
    letter-spacing: 1px;
    color: v.$black-custom;
    transition: all 0.3s ease;
}

.input:focus {
    background-color: v.$white-custom;
    transform: translateY(-1px);
    transition: all 0.3s ease;
    border: 2px solid v.$accent-color;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
}

.input::-webkit-inner-spin-button,
.input::-webkit-outer-spin-button {
    appearance: textfield;
    -webkit-appearance: none;
    -moz-appearance: textfield;
}

.input-name_employer, .input-last_name_employer, .input_mail,
    .input-professional_license, .input-employment_type , .input_presentation ,
    .input-name_employer_responsible, .input-last_name_employer_responsible, 
    .input-name_security_responsible , .input-last_name_security_responsible,
    .input-name_occupational_medicine_responsible, .input-last_name_occupational_medicine_responsible,
    .input-name_data_responsible, .input-last_name_data_responsible {
    display: flex;
    width: 70%;
}

.input-presentation{
    text-align: center;
}

.input-cuit_employer, .input-id_establishment, .input-declaration_year, 
    .input_phone, .input-cuit_security_responsible, .input-cuit_employer_responsible,
    .input-cuit_occupational_medicine_responsible , .input-cuit_data_responsible{
    display: flex;
    width: 30%;
}

.input-hourse_worked_security_responsible, .input-hourse_worked_occupational_medicine_responsible{
    justify-content: center;
    display:flex;
    text-align: center;
    width: 15%;
}