<main class="bg-form-work-structure">
    <form class="form-work-structure" [formGroup]="workStructureForm" (ngSubmit)="onSubmit()">
        <app-form-section [title]="'Conformación empresarial'">
            <div class="form-section-content" container-inputs >
                <div class="top-form">
                    <label class="subtitle" for="">Trabajadores propios</label>
                    <div class="form-field">
                        <p>Indicar la cantidad de trabajadores propios vinculados al establecimiento, que se encargan de desarrollar <span> actividades administrativas </span>:</p>
                        <input class="input" type="text" name="" id="" placeholder="20">
                    </div>
                    <div class="form-field">
                        <p>Indicar la cantidad de trabajadores propios vinculados al establecimiento, que se encargan de desarrollar <span> actividades de producción </span>:</p>
                        <input class="input" type="text" name="" id="" placeholder="15">
                    </div>
                </div>
                <div class="top-form">
                    <label class="subtitle" for="">Trabajadores de servicios eventuales</label>
                    <div class="form-field">
                        <p>Indicar la cantidad de trabajadores de servicio eventuales, que se encargan de desarrollar <span> actividades administrativas </span>:</p>
                        <input class="input" type="text" name="" id="" placeholder="20">
                    </div>
                    <div class="form-field">
                        <p>Indicar la cantidad de trabajadores de servicios eventuales, que se encargan de desarrollar <span> actividades de producción </span>:</p>
                        <input class="input" type="text" name="" id="" placeholder="15">
                    </div>
                </div>
            </div>
        </app-form-section>
        <app-form-section [title]="'Sectores y Puestos'">
            <div class="form-section-content middle-form" container-inputs>
                    <app-form-field
                        [labelText]="'Nombre del sector'"
                        [info]="'Nombre del sector expuesto a un agente cancerigeno.'"
                        [prefix]="'sector'"
                        [placeholder]="'Producción'" 
                        [form]="workStructureForm"
                    />
                    <app-form-field
                        [labelText]="'Actividad del sector'"
                        [info]="'Actividad relacionada al sector declarado.'"
                        [prefix]="'sector'"
                        [placeholder]="'261000'" 
                        [form]="workStructureForm"
                    />
            </div>
        </app-form-section>
    </form>
</main>