<main class="bg-form-work-structure">
    <form class="form-work-structure" [formGroup]="workStructureForm" (ngSubmit)="onSubmit()">
        <app-form-section [title]="'Conformación empresarial'">
            <div class="form-section-content" container-inputs >
                <div class="top-form">
                    <label class="subtitle" for="">Trabajadores propios</label>
                    <div class="form-field">
                        <p>Indicar la cantidad de trabajadores propios vinculados al establecimiento, que se encargan de desarrollar <span> actividades administrativas </span>:</p>
                        <input class="input" type="text" name="" id="" placeholder="20">
                    </div>
                    <div class="form-field">
                        <p>Indicar la cantidad de trabajadores propios vinculados al establecimiento, que se encargan de desarrollar <span> actividades de producción </span>:</p>
                        <input class="input" type="text" name="" id="" placeholder="15">
                    </div>
                </div>
                <div class="top-form">
                    <label class="subtitle" for="">Trabajadores de servicios eventuales</label>
                    <div class="form-field">
                        <p>Indicar la cantidad de trabajadores de servicio eventuales, que se encargan de desarrollar <span> actividades administrativas </span>:</p>
                        <input class="input" type="text" name="" id="" placeholder="20">
                    </div>
                    <div class="form-field">
                        <p>Indicar la cantidad de trabajadores de servicios eventuales, que se encargan de desarrollar <span> actividades de producción </span>:</p>
                        <input class="input" type="text" name="" id="" placeholder="15">
                    </div>
                </div>
            </div>
        </app-form-section>
        <app-form-section [title]="'Sectores y Puestos'">
            <div class="form-section-content" container-inputs formArrayName="job_positions">
                @for( group of jobPositions.controls; track $index) {
                    <app-job-position 
                        [form]="group"
                    />
                }
            </div>
            <div container-inputs>
                <app-add-button
                    [text]="'Añadir sector y puesto'" 
                    (clicked)="addJobPosition()"   
                />
            </div>
        </app-form-section>
    </form>
</main>