<main class="bg-form-work-structure">
    <form class="form-work-structure" [formGroup]="workStructureForm" (ngSubmit)="onSubmit()">
        <app-form-section [title]="'Conformación empresarial'">
            <div class="form-section-content" container-inputs>
                <div class="top-form">
                    <label class="subtitle" for="">Trabajadores propios</label>
                    <div class="form-field">
                        <p>Indicar la cantidad de trabajadores propios vinculados al establecimiento, que se encargan de
                            desarrollar <span> actividades administrativas </span>:</p>
                        <input class="input" type="text" name="" id="" placeholder="20"
                            [formControlName]="'own_administrative_workers_count'">
                        <app-label-error [control]="this.workStructureForm.get('own_administrative_workers_count')!" />
                    </div>
                    <div class="form-field">
                        <p>Indicar la cantidad de trabajadores propios vinculados al establecimiento, que se encargan de
                            desarrollar <span> actividades de producción </span>:</p>
                        <input class="input" type="text" name="" id="" placeholder="15"
                            [formControlName]="'own_production_workers_count'">
                        <app-label-error [control]="this.workStructureForm.get('own_production_workers_count')!" />
                    </div>
                </div>
                <div class="top-form">
                    <label class="subtitle" for="">Trabajadores de servicios eventuales</label>
                    <div class="form-field">
                        <p>Indicar la cantidad de trabajadores de servicio eventuales, que se encargan de desarrollar
                            <span> actividades administrativas </span>:
                        </p>
                        <input class="input" type="text" name="" id="" placeholder="20"
                            [formControlName]="'temporary_service_administrative_workers_count'">
                        <app-label-error [control]="this.workStructureForm.get('temporary_service_administrative_workers_count')!" />
                    </div>
                    <div class="form-field">
                        <p>Indicar la cantidad de trabajadores de servicios eventuales, que se encargan de desarrollar
                            <span> actividades de producción </span>:
                        </p>
                        <input class="input" type="text" name="" id="" placeholder="15"
                            [formControlName]="'temporary_service_production_workers_count'">
                        <app-label-error [control]="this.workStructureForm.get('temporary_service_production_workers_count')!" />
                    </div>
                </div>
            </div>
        </app-form-section>
        <app-form-section [title]="'Sectores y Puestos'">
            <div class="form-box" container-inputs>
                <app-job-position [form]="jobPositionForm" />
                <div class="form-box-actions">
                    <app-btn-basic [label]="this.workStructureStore.selectedJobPosition() === null ? 'Agregar a la lista' : 'Guardar cambios'"
                        [variant]="'success'" (clicked)="addJobPosition()" [type]="'button'" />
                    @if (workStructureStore.selectedJobPosition() !== null) {
                        <app-btn-basic [label]="'Cancelar edición'" [variant]="'secondary'" [type]="'button'"
                            (clicked)="resetJobPositionForm()" />
                    }
                </div>
            </div>
            <div container-inputs>
                <app-add-button [text]="'Añadir sector y puesto'" (clicked)="addJobPosition()" />
                <app-actionable-list
                    [arraySignal]="jobPositionRelations()"
                    [selectedItem]="selectedJobPositionItem()"
                    [placeholder]="'Todavía no agregaste ningún sector y puesto.'"
                    (removeItem)="this.onRemoveJobPosition($event.id)"
                    (visualizeItem)="this.onSelectJobPosition($event.id)"
                />
            </div>
        </app-form-section>
        <app-form-navigation-btns 
            (remove)="onClearForm()"
            (next)="onNext()"
            (save)="onSaveForm()"
        />
    </form>
</main>